{
  "presets": [
    ["@babel/env", { "modules": false,
      "targets": "> 0.25%, not dead"
    }, "@babel/plugin-proposal-decorators"]
  ],
  "plugins": [["component",
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }
  ]]
}