<div class="content-div" ng-controller="exercisesController" >
    <h1 class="page-heading" translate>Exercises</h1>
    <p translate>Exercises_desc</p>
    <button class="btn btn-default btn-sm" ng-click="collapseAccordion()" translate>Expand_all</button>
    <button class="btn btn-default btn-sm" ng-click="unCollapseAccordion()" translate>Collapse_all</button>
    <div class="accordion-block">
    <accordion close-others="false">
        <accordion-group is-open="status.open[0]">
            <accordion-heading>
                #1 - <span translate>Exercise_1</span>
            </accordion-heading>
            <p><span translate>Exercise_1_1</span>
                <span class="card blue card-sm">1</span>
                <span class="card red  card-sm">2</span>,
                <span translate>Exercise_1_2</span>
                <span class="card red  card-sm">2</span>
                <span class="card blue card-sm">1</span>
            </p>

            <p translate>Exercise_1_3</p>

            <div class="cards-block-sm">
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl">rock</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl left-lbl">triple</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>

                    <div class="card-lbl">bllch</div>
                    <div class="card-lbl right-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl left-lbl">triple</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>

                    <div class="card-lbl">bllch</div>
                    <div class="card-lbl right-lbl">step</div>
                </div>
            </div>

            <p translate>Exercise_1_4</p>

            <div class="cards-block-sm">
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl left-lbl">rock</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl right-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl left-lbl">triple</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>

                    <div class="card-lbl">bllch</div>
                    <div class="card-lbl right-lbl">step</div>
                </div>

                <div class="card-block">
                    <span class="card red">2</span>

                    <div class="card-lbl">bllch</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
            </div>

            <p translate>Exercise_1_5</p>

            <div class="cards-block-sm">
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl">rock</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl left-lbl">triple</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>

                    <div class="card-lbl">bllch</div>
                    <div class="card-lbl right-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl left-lbl">triple</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>

                    <div class="card-lbl">bllch</div>
                    <div class="card-lbl right-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
            </div>
            <p translate>Exercise_1_6</p>

        </accordion-group>
        <accordion-group is-open="status.open[1]">
            <accordion-heading>
                #2 - <span translate>Exercise_2</span>
            </accordion-heading>
            <p translate>Exercise_2_1</p>

            <p translate>Exercise_2_2</p>

            <div class="cards-block-sm">
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl left-lbl">rock</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl right-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card white">0</span>

                    <div class="card-lbl">hold</div>
                    <div class="card-lbl left-lbl">kick</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>

                    <div class="card-lbl">bllch</div>
                    <div class="card-lbl right-lbl">bllch</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card white">0</span>

                    <div class="card-lbl">hold</div>
                    <div class="card-lbl left-lbl">kick</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>

                    <div class="card-lbl">bllch</div>
                    <div class="card-lbl right-lbl">bllch</div>
                </div>
            </div>
        </accordion-group>
        <accordion-group is-open="status.open[2]">
            <accordion-heading>
                #3 - <span translate>Exercise_3</span>
            </accordion-heading>
            <p translate>Exercise_3_1</p>
            <p translate>Exercise_3_2</p>
            <div class="cards-block-sm">
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl left-lbl">rock</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl right-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
            </div>
            <p translate>
                Exercise_3_3
            </p>
            <div class="cards-block-sm">
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl left-lbl">rock</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl right-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                </div>
            </div>
        </accordion-group>

        <accordion-group is-open="status.open[3]">
            <accordion-heading>
                #4 - <span translate>Exercise_4</span>
            </accordion-heading>
            <div class="cards-block-sm">
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl left-lbl">rock</div>
                </div>
                <div class="card-block">
                    <span class="card blue">1</span>

                    <div class="card-lbl">step</div>
                    <div class="card-lbl right-lbl">step</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>
                    <div class="card-lbl">bllch</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>
                    <div class="card-lbl">bllch</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>
                    <div class="card-lbl">bllch</div>
                </div>
                <div class="card-block">
                    <span class="card red">2</span>
                    <div class="card-lbl">bllch</div>
                </div>
            </div>
        </accordion-group>
    </accordion>
    </div>
</div>