/*  http://blog.char95.com/sticky-footer-and-vertical-align/  */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

.container-main {
    height: 100%;
    min-height: 100%;
    display: table;
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: -142px;
    width: 100%;
}

.middle {
    z-index: 1;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    padding-top: 142px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.header {
    text-align: center;
    height: 60px;
    z-index: 2;
    position: relative;
}

.footer {
    height: 82px;
    z-index: 3;
    position: relative;
}

.infooter {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.main {
    height: 100%
}

body {
    background: url("../images/pattern-89ds.png") repeat;
}

h1 {
    margin-top: 0;
    font-size: 30px;
}

h1.main-header {
    margin: 20px;
    color: #999;
    text-shadow: 1px 1px 1px #111;
    font-size: 36px !important;
}

h2 {
    font-size: 20px;
}

#generator {
    width: 500px;

}

.cards {
    display: block;
    vertical-align: middle;
}

.card-block {
    display: inline-block;
    vertical-align: middle;
}
.cards-block-sm .card-block {
    vertical-align: top;
    text-align: center;
    letter-spacing: 0;
    word-spacing: -1ch;
    margin-right: -4px;
    margin-top: 0;
    margin-bottom: 15px;
}

.card {
    width: 40px;
    height: 60px;
    margin: 10px;
    line-height: 55px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #9ab;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 28px;
    text-shadow: 0 1px 2px #bbb;
    box-shadow: 1px 1px 3px 0 #aaa;
}

.cards-block-sm .card, .card-sm {
    width: 20px;
    height: 30px;
    margin: 5px;
    float: none;
    line-height: 25px;
    font-size: 14px;
}

.white {
    background-color: #fafafa;
}

.blue {
    background-color: #49c0f0;
}

.red {
    background-color: #f2825b;
}

.generator-btn {
    margin-top: 20px;
    text-shadow: 0 0 3px #71807a;
    box-shadow: 1px 1px 3px 0 #aaa;
}

.info {
    clear: both;
    text-align: left;
    margin-top: 20px;
}

.info .card {
    float: none;
}

.toggle-text {
    border-bottom: 2px dotted #777;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 4px;
}

.glyphicon-info-sign {
    font-size: 16px;
    color: #33aCeF;
}

.label-radio {
    font-weight: normal;
    margin-right: 10px;
}

.toggle-icon {
    color: #777;
}

.content-div {
    text-align: left;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px 0 #aaa;
    padding: 20px;
    margin: 20px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.about-div{
    width: 550px;
}
.card-lbl{
    background-color: #f9f28d;
    display: block;
    border: 1px solid #ddd;

    padding: 1px 2px;
    border-radius: 6px;
    margin: 0 7px 2px 7px;
}
.left-lbl{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}
.right-lbl{
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

.translate-cloak{
    display: none;
}
.ast{color: red}
.text-btn{
    text-decoration: none;
    border-bottom: 1px dashed #555;
}
.text-btn:hover{
    text-decoration: none;
}
.text-btn:focus{
    text-decoration: none;
}
.accordion-block{
    margin-top: 20px;
}
.card-index span{
   background-color: #aaa;
}

#ContactForm fieldset{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

.navbar-brand{
    color: #4d84ba !important;
}

.page-heading{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #444;
    margin: -20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    font-size: 28px;
}

.error{
    color: red;

}
.ng-pristine .error{
    /*Целомудренная форма*/
    display: none;
}
.ng-dirty .error{
    /*Пользованная форма*/
}
.panel-heading{
    padding: 0;
}
.panel-heading h4, .panel-heading a{
    display: block;
}
.panel-heading a{
    padding: 10px 15px;
}
.sound-label{
    display: inline-block;
    font-weight: bold;
    min-width: 60px;
}
.sound-btns{
    display: inline-block;
}
.sound-btns .btn-group{margin-left: 10px}
.slider{
    display: inline-block;
    margin-top: 10px;
    min-width: 200px;
}
.slider-label{
    min-width: 60px;
}
.slider-div{
    margin-top:20px;
}
.jslider-label, .jslider-value{
    font-size: 12px !important;
}

.sound-btns-generator{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    position: absolute;
}

.flag-ru {
    background: url("../images/ru.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
}

.flag-en {
    background: url("../images/en.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: bottom;
}

.option-help-icon{
    font-size: 12px;
    color: #53b0ef;
}

@media (max-width: 992px) {
    .container{
        width: 100%;
    }
}