<div id="form" class="content text" ng-controller="ContactFormCtrl">
    <form id="ContactForm" name="ContactForm">
        <fieldset>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                    <input type="text" class="form-control" name="name" id="name" value="" placeholder="{{ 'Name' | translate}}" ng-model="contact.name" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input type="email" class="form-control" name="email" id="email" value=""   placeholder="E-mail"  ng-model="contact.email"/>
                </div>
                <div ng-show="ContactForm.email.$dirty && ContactForm.email.$invalid">
                    <span class="error" ng-show="ContactForm.email.$error" translate>ContactForm_2</span><br>
                </div>
                <span class="error" ng-show="!ContactForm.$dirty && errorEmail && ContactForm.submitted">{{ errorEmail }}</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="ast">*</span><br/><i class="glyphicon glyphicon-envelope"></i> </span>
                    <textarea name="message" id="message" class="form-control" cols="35" rows="5" placeholder="{{ 'Message' | translate}}" ng-model="contact.message" required></textarea>
                </div>
                <div ng-show="ContactForm.message.$dirty && ContactForm.message.$invalid">
                    <span class="error" ng-show="ContactForm.message.$error.required" translate>ContactForm_3</span><br>
                </div>
                <span class="error" ng-show="!ContactForm.$dirty && errorMessage && ContactForm.submitted">{{ errorMessage }}</span>
            </div>
            <p translate>ContactForm_1</p>

            <div class="alert alert-danger" ng-show="errorFrom" translate>
                ContactForm_4
            </div>
            <div class="alert alert-success" ng-show="successFrom" translate>
                ContactForm_5
            </div>

            <input type="submit" id="submitbtn" value="{{ 'Send' | translate}}" name="save" class="btn" ng-click="submit()" ng-disabled="ContactForm.$invalid"/>
        </fieldset>
    </form>
</div>